<h1>Part Two</h1>
{{#if edit}}
<p>Your objective: Get the cookie from the admin. This time, no <span class="red">script</span> tags are allowed. </p>
<form method="GET" action="/one">
  <textarea name="c" type="multiline" placeholder="your comment goes here"></textarea>
  <input type="submit" value="create comment">
</form>
{{else}}
<div>
  <p>Your input:</p>
  <div class="code">
    {{{ content }}}
  </div>
</div>
<button id="report_admin" href="admin.xss.blairsec.mbhs.edu/xss_practice" target="_blank">⚠️ report to admin</button>
{{/if}}
